@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito:wght@400;700&display=swap');

$primary: #76ac4c;
$primary-dark: darken(#76ac4c, 10%);
$secondary: #f9c74f;
$error: #fa2700;

$background: #5e893c3b;

$light-gray: #dedede;
$gray: #999999;
$dark-gray: #666666;
$black: #24292e;

$title-font: 'Nunito', sans-serif;
$body-font: 'Lato', sans-serif;
