.button {
  border: 1px solid #76ac4c;
  border-radius: 4px;
  background: #76ac4c;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: none;
  padding: 0 20px;
  margin: 8px 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  height: 32px;
}

.button:hover {
  border: 1px solid #5d9333;
  background: #5d9333;
  color: #ffffff;
  text-decoration: none;
}

.button:focus,
.button:active {
  border: 1px solid #5d9333;
  background: #5d9333;
  color: #ffffff;
  text-decoration: none;
}

.button.accent {
  border: 1px solid #f9c74f;
  background: #f9c74f;
}

.button.accent:hover,
.button.accent:focus,
.button.accent:active {
  border: 1px solid #f7b71e;
  background: #f7b71e;
}

.button.muted {
  background: transparent;
  color: #76ac4c;
}
