header {
  width: 100%;
  background: #76ac4c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
}
